# Demo Scenario 1

### UI를 통해 File Upload 하여 테이블 생성하기
UI를 사용하여 로컬 시스템에서 작은 CSV 또는 TSV 파일을 가져와 Table을 생성할 수 있습니다.  
이 때 한번에 최대 10개의 파일 업로드를 지원하고, 총 크기가 100MB 미만이어야 가능합니다.  
방법은 총 3가지가 있습니다.
- New > File Upload
- New > Data > Upload data
- Data > Add > Add Data > Upload data

**`New > File Upload`** 를 클릭합니다.  
파일 브라우저 버튼을 클릭하거나 드롭 영역에 직접 파일을 끌어다 놓습니다.  
테이블을 미리 보고 구성할 수 있습니다.

생성된 테이블을 **`Data > Data Explorer`** 에서 확인해보겠습니다.

File Upload로 생성한 테이블을 확인해보겠습니다.

In [0]:
%sql
-- 인사정보 테이블
select *
 from Emp;

EmpId,EmpName,Job,HireDate,DeptId,Comm
admin1,Adams,Manager,2015-03-02,20,0
admin2,Scott,Manager,2015-07-01,20,0
admin3,Smith,Salesman,2015-03-02,30,0
admin4,Allen,Salesman,2015-07-01,30,0
admin5,James,Analyst,2016-03-02,10,0
admin6,Blake,Analyst,2016-03-02,10,0
admin7,Martin,Salesman,2018-03-02,30,0
admin8,Miller,Analyst,2018-03-02,10,0
admin9,Jones,Manager,2015-03-02,20,0
admin0,Helen,Analyst,2015-07-01,10,0

In [0]:
%sql
-- 부서정보 테이블
select *
 from Dept;

DeptId,DeptName,Location
10,Accounting,New York
20,Research,Dallas
30,Sales,Chicago

### Python & Databricks SQL 활용하여 데이터 생성 및 활용하기  
지금부터는 Magic Command 활용하여 SQL로 테이블을 생성하고, Python으로 무작위 데이터를 생성하여 테이블에 적재해보겠습니다.

#### 1. Table 생성  
SQL로 테이블을 생성하기 위해 셀의 우측에서 사용언어를 SQL로 선택합니다.  
이제 Create Table문으로 Project 테이블과 EmpDetail 테이블을 생성하겠습니다.

In [0]:
%sql

-- 테이블 생성 
create table if not exists Project(
	ProjCode string,
	ProjName string,
	CreatedWhen string,
	LastEditedWhen string,
	LastEditedBy string
);

create table if not exists EmpDetail(
	`사원번호` string,
	`사원명` string,
	`직무` string,
	`입사일` string,
	`입사일수` string,
    `부서코드` string, 
    `부서명` string,
    `부서위치` string,
    `진행프로젝트수` int,
    `누적상여금` int,
    `최종상여금지급일` string,
    `스케쥴최종수행일` string
);

#### 2. 생성한 테이블에 무작위 데이터 적재  
Project 테이블에 넣어줄 데이터를 파이썬을 사용하여 만들어보겠습니다.  
데이터를 넣어주기 전, Project 테이블을 조회하여 데이터가 없음을 확인해보겠습니다.

In [0]:
%sql
select count(*) cnt
 from Project;

cnt
0

이제 Python의 Random 모듈 내 Sample 함수를 통해 무작위 데이터를 20건 생성하고,  
실행할 쿼리문을 *query_all* 이라는 변수에 담아서 출력한 후, 이를 spark.sql을 통해 실행하겠습니다.

In [0]:
#Project에 데이터 insert (총 20건, 약 50sec)
import random
from datetime import datetime

smpl1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z','0','1','2','3','4','5','6','7','8','9']
smpl2 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
smpl3 = ['0','1','2','3','4','5','6','7','8','9']

i =1

today = datetime.today().strftime('%Y-%m-%d')

while i <= 20  :
    smplCode1 = random.sample(smpl1,7)
    projCode = ''.join(smplCode1)
    
    smplCode2 = random.sample(smpl2,5)
    projName = ''.join(smplCode2)
    
    smplCode3 = random.sample(smpl3,1)
    admin = "admin"+''.join(smplCode3)

    query = "'"+projCode + "','"+projName+"','"+today+"','"+today+"','"+admin+"'"
    #print(query)
    query_all = "insert into Project values("+ query+")"
    print(query_all)
    spark.sql(query_all)
    i = i + 1

insert into Project values('76WDB5X','ZDQIA','2023-03-20','2023-03-20','admin7')
insert into Project values('0IOFA6P','KTLWH','2023-03-20','2023-03-20','admin4')
insert into Project values('DWKI04J','HZYLU','2023-03-20','2023-03-20','admin7')
insert into Project values('WL4C2BH','NDEYU','2023-03-20','2023-03-20','admin6')
insert into Project values('EJL1SVR','XOIBR','2023-03-20','2023-03-20','admin4')
insert into Project values('SXQO1AD','EKCTX','2023-03-20','2023-03-20','admin2')
insert into Project values('ITE5POX','XGPCE','2023-03-20','2023-03-20','admin0')
insert into Project values('XMUA65E','BPDEG','2023-03-20','2023-03-20','admin1')
insert into Project values('3MWN7A6','ZGOPD','2023-03-20','2023-03-20','admin4')
insert into Project values('Q7X3UCE','WCLQG','2023-03-20','2023-03-20','admin9')
insert into Project values('QIE6U14','MQXRD','2023-03-20','2023-03-20','admin7')
insert into Project values('W536SPM','NMUID','2023-03-20','2023-03-20','admin7')
insert into Project values('WD2781F','TSGOK','2023-03-20','2023-03-20','admin1')
insert into Project values('W03Q26J','FUHYT','2023-03-20','2023-03-20','admin5')
insert into Project values('S4CDJQ3','OWBSD','2023-03-20','2023-03-20','admin3')
insert into Project values('GN13CR6','WCXSR','2023-03-20','2023-03-20','admin6')
insert into Project values('WGD6OFN','NABQW','2023-03-20','2023-03-20','admin7')
insert into Project values('DS68EGU','ECWYP','2023-03-20','2023-03-20','admin8')
insert into Project values('MJS5IB8','WOCKX','2023-03-20','2023-03-20','admin8')
insert into Project values('KXLPOSZ','VRSOT','2023-03-20','2023-03-20','admin6')

데이터 적재가 완료되었다면, Project 테이블을 조회해보겠습니다.

In [0]:
%sql
select *
 from Project;

ProjCode,ProjName,CreatedWhen,LastEditedWhen,LastEditedBy
WD2781F,TSGOK,2023-03-20,2023-03-20,admin1
ITE5POX,XGPCE,2023-03-20,2023-03-20,admin0
Q7X3UCE,WCLQG,2023-03-20,2023-03-20,admin9
76WDB5X,ZDQIA,2023-03-20,2023-03-20,admin7
GN13CR6,WCXSR,2023-03-20,2023-03-20,admin6
W03Q26J,FUHYT,2023-03-20,2023-03-20,admin5
3MWN7A6,ZGOPD,2023-03-20,2023-03-20,admin4
MJS5IB8,WOCKX,2023-03-20,2023-03-20,admin8
DWKI04J,HZYLU,2023-03-20,2023-03-20,admin7
DS68EGU,ECWYP,2023-03-20,2023-03-20,admin8
EJL1SVR,XOIBR,2023-03-20,2023-03-20,admin4
QIE6U14,MQXRD,2023-03-20,2023-03-20,admin7
WL4C2BH,NDEYU,2023-03-20,2023-03-20,admin6
SXQO1AD,EKCTX,2023-03-20,2023-03-20,admin2
0IOFA6P,KTLWH,2023-03-20,2023-03-20,admin4
KXLPOSZ,VRSOT,2023-03-20,2023-03-20,admin6
XMUA65E,BPDEG,2023-03-20,2023-03-20,admin1
W536SPM,NMUID,2023-03-20,2023-03-20,admin7
WGD6OFN,NABQW,2023-03-20,2023-03-20,admin7
S4CDJQ3,OWBSD,2023-03-20,2023-03-20,admin3

#### 3. Project, Emp, Dept 데이터를 통해 EmpDetail에 데이터 적재(Mart Table)  
위의 과정들을 통해서 Project, Emp, Dept 총 3개의 소스 테이블이 준비되었습니다.  
이 3개의 테이블에서 사원별로 진행중인 프로젝트 수를 집계하여 EmpDetail에 적재해보겠습니다.

우선  EmpDetail 테이블을 조회하여 데이터가 없음을 확인해보겠습니다.

In [0]:
%sql
select count(*) cnt
 from EmpDetail;

cnt
0

Project, Emp, Dept 테이블을 Join하여 EmpDetail에 넣어줄 데이터를 조회해보겠습니다.

In [0]:
%sql
select  e.EmpId `사원번호`
      , max(e.EmpName) `사원명`
      , max(e.Job) `직무`
      , max(e.HireDate) `입사일`
      , max(datediff(current_date, e.HireDate)) `입사일수` 
      , max(d.DeptId) `부서코드`
      , max(d.DeptName) `부서명`
      , max(d.Location) `부서위치`
      , count(p.ProjCode) `진행 프로젝트 수` 
      , max(e.comm) `누적상여금`
      , '9999-12-31' `최종상여금지급일`
      , current_date `스케쥴최종수행일`
from    emp e 
inner join dept d on e.DeptId = d.DeptId
inner join project p on e.empid = p.LastEditedBy
group by e.EmpId
order by e.EmpId;

사원번호,사원명,직무,입사일,입사일수,부서코드,부서명,부서위치,진행 프로젝트 수,누적상여금,최종상여금지급일,스케쥴최종수행일
admin0,Helen,Analyst,2015-07-01,2819,10,Accounting,New York,1,0,9999-12-31,2023-03-20
admin1,Adams,Manager,2015-03-02,2940,20,Research,Dallas,2,0,9999-12-31,2023-03-20
admin2,Scott,Manager,2015-07-01,2819,20,Research,Dallas,1,0,9999-12-31,2023-03-20
admin3,Smith,Salesman,2015-03-02,2940,30,Sales,Chicago,1,0,9999-12-31,2023-03-20
admin4,Allen,Salesman,2015-07-01,2819,30,Sales,Chicago,3,0,9999-12-31,2023-03-20
admin5,James,Analyst,2016-03-02,2574,10,Accounting,New York,1,0,9999-12-31,2023-03-20
admin6,Blake,Analyst,2016-03-02,2574,10,Accounting,New York,3,0,9999-12-31,2023-03-20
admin7,Martin,Salesman,2018-03-02,1844,30,Sales,Chicago,5,0,9999-12-31,2023-03-20
admin8,Miller,Analyst,2018-03-02,1844,10,Accounting,New York,2,0,9999-12-31,2023-03-20
admin9,Jones,Manager,2015-03-02,2940,20,Research,Dallas,1,0,9999-12-31,2023-03-20

Insert - Select 문을 통해 EmpDetail에 데이터를 적재하겠습니다.  
이 작업은 Schedule 기능을 사용하여 해보겠습니다.